body {
  background: linear-gradient(0deg, black, black); /* Just nu är backgrunden bara svart men har denna value ifall jag vill eventuellt ha mer lite mer styling. Denna gradient value gör att det blir en övergång mellan två färger. Man kan bestämma i vilken vinkel denna övergång ska ske i och om den ska vara linjär eller inte o.s.v. */
  background-color: inherit; /* ska inte ha specifierad value utan ärver från redan etablerade values. Egentligen onödig här men det är ifall jag inte skulle vilja ha det ovanstående propertyn */
  color: inherit; /* ska inte ha specifierad value utan ärver från redan etablerade values */
}

/* text */

* {
  margin: 0; /* nollställer margin för att kunna styla enklare */
  font-family: "Bebas Neue", cursive; /* typsnitt från google och dessutom en backup i formen av cursive om det första värdet inte skulle fungera */
  background-color: inherit; /* ska inte ha specifierad value utan ärver från redan etablerade values */
  color: white; /* färg */
}

h1 {
  font-size: 10em; /* definerar storlek */
  text-align: center; /* centerar texten */
}

p {
  text-align: justify; /* sträcker på brödtexten för att fördela den jämt över sidan */
  font-size: 1.5em; /* definerar storlek */
  line-height: 1.5em; /* definerar höjd mellan rader */
  font-family: 'Raleway', sans-serif; /* typsnitt från google och dessutom en backup i formen av sans-serif om det första värdet inte skulle fungera */
  font-weight: bolder; /* gör textens symboler tjockare/fyllig */
}

a { /* tar bort all style som länken har */
  color: inherit;
  text-decoration: inherit;
}

/* headern */

header {
  width: 100%; /* sträcker bredden över hela webbsidan bredd */
  position: fixed; /* faställer positionen i förhållande med skärmen */
  background-color: black; /* bakgrundsfärg */
  color: inherit; /* ska inte ha specifierad value utan ärver den från redan etablerade values */
  display: flex; /* skapar ny typ av display inom selectorn som är av typen flexbox som är bra att använda för enskilda rader och columner */
  justify-content: space-between; /* tvingar jämnt mellanrum mellan elementen inom flexbox */
}

header p {
  margin-top: 0.75em; /* definerar storlek på margin */
  letter-spacing: 0.5em; /* definerar mellanrummet mellan bokstäverna */
  font-size: 1.2em; /* definerar storlek */
  font-family: 'Rock Salt', cursive; /* typsnitt från google och dessutom en backup i formen av cursive om det första värdet inte skulle fungera */
  background-color: inherit; /* ska inte ha specifierad value utan ärver den från redan etablerade values */
  color: yellow; /* färg */
}

/* bilden längst till vänster i headern */

.logo {
  width: 7em; /* definerar bredden */
}

/* bilden längst till höger i headern */

.menu {
  margin: 0.5em; /* definerar storlek på margin */
  width: 3em; /* definerar bredd */
}

/* footern */

footer {
  position: fixed; /* faställer positionen i förhållande med skärmen */
  bottom: 1em; /* sätter elementet en viss längd ifrån botten */
  height: 10vh; /* definerar höjd */
  border-radius: 0 1em 1em 0; /* definerar rundheten hos hörnen och vilka hörn som ska ha rundhet */
  background-color: white; /* bakgrundsfärg */
  color: inherit; /* ska inte ha specifierad value utan ärver den från redan etablerade values */
}

/* trailern */
